# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
*.log

# uv virtual environment
.venv/

# uv lock file
uv.lock

# IDE/editor configs
.vscode/
.idea/
*.swp
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# executable files
*.exe